/* VARIABLES */
:root {
  --light-background: #f2ece4;
  --light-text: #036;
}

/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v34-latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v34-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-500 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/open-sans-v34-latin-500.woff2") format("woff2"), url("../fonts/open-sans-v34-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v20-latin-regular.woff2") format("woff2"), url("../fonts/poppins-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-500 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v20-latin-500.woff2") format("woff2"), url("../fonts/poppins-v20-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-600 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v20-latin-600.woff2") format("woff2"), url("../fonts/poppins-v20-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-700 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v20-latin-700.woff2") format("woff2"), url("../fonts/poppins-v20-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* MIXINS */
button, hr, input {
  overflow: visible;
}

progress, sub, sup {
  vertical-align: baseline;
}

[type=checkbox], [type=radio], legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

details, main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: ButtonText dotted 1px;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

[hidden], template {
  display: none;
} /* GENERAL */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  height: auto;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  /* line-height: var(--main-line-height); */
}

/* STICKY-FOOTER */
.site-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.ecommerce-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* =================== Header start ===================== */
.header__top-span {
  font-size: 12px;
  line-height: 16px;
  color: var(--body-link);
  margin-right: 10px;
}

.header__top-phone {
  font-size: 12px;
  line-height: 16px;
  margin-right: 10px;
  color: var(--body-title);
  text-decoration: none;
}

.header__top-com {
  font-size: 12px;
  line-height: 16px;
  color: var(--body-title);
}

.header__top-list {
  padding-left: 0;
  list-style: none;
}

.header__top-link {
  font-size: 12px;
  line-height: 16px;
  color: var(--body-link);
  text-decoration: none;
}

.border__bottom {
  border-bottom: 1px solid var(--body-title);
}

.input-group {
  border: 1px solid #d1d1d1;
  border-radius: 12px;
}

.hero__dropdown {
  position: relative;
  font-family: "Poppins";
  font-size: 15px;
  line-height: 22px;
  font-weight: 700;
  color: var(--body-title);
  background-color: #f9f9f9;
  border-radius: 12px 0 0 12px;
  border-right: none;
  border: none;
}
.hero__dropdown::after {
  position: absolute;
  top: 40%;
  right: 20px;
  width: 10px;
  height: 8px;
  background-image: url("../images/form-dropdown-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.hero__form {
  background-color: #f9f9f9;
  border-radius: 0 12px 12px 0;
  border-left: none;
  border: none;
}

.input-wrapper {
  position: relative;
}

.input-wrapper::after {
  position: absolute;
  right: 11px;
  top: 11px;
  z-index: 2;
  width: 16px;
  height: 16px;
  background-image: url("../images/search-icon.svg");
  background-repeat: no-repeat;
  content: "";
}

.header__dropdown {
  position: relative;
  font-family: "Poppins";
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  margin-right: 35px;
  color: var(--body-title);
  border: none;
  background-color: transparent;
}
.header__dropdown::before {
  position: absolute;
  top: 10px;
  right: -10px;
  background-image: url("../images/form-dropdown-icon.svg");
  background-repeat: no-repeat;
  width: 10px;
  height: 8px;
  content: "";
}

.hero__four {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: 14px;
  right: 25px;
  font-size: 10px;
  width: 15px;
  height: 15px;
  color: #fff;
  background-color: #e5704b;
  border-radius: 50%;
}

.hero__four-add {
  top: 10px;
  right: 28px;
}

::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 19px;
  color: #a9a9a9;
}

::-moz-placeholder {
  font-size: 14px;
  line-height: 19px;
  color: #a9a9a9;
}

:-ms-input-placeholder {
  font-size: 14px;
  line-height: 19px;
  color: #a9a9a9;
}

::-ms-input-placeholder {
  font-size: 14px;
  line-height: 19px;
  color: #a9a9a9;
}

::placeholder {
  font-size: 14px;
  line-height: 19px;
  color: #a9a9a9;
}

/* Nav start */
.header {
  background-color: #f9f9f9;
}

.header__list {
  padding-left: 0;
  list-style: none;
}

/* Nav end */
@media only screen and (min-width: 320px) {
  .header__top-phone {
    display: none;
  }
}
@media only screen and (min-width: 375px) {
  .header__top-phone {
    display: inline-block;
  }
}
@media only screen and (min-width: 768px) {
  .header__top-span {
    margin-right: 16px;
  }
  .header__top-phone {
    margin-right: 16px;
  }
}
@media only screen and (min-width: 992px) {
  .header__top-span {
    margin-right: 33px;
  }
  .header__top-phone {
    margin-right: 33px;
  }
}
/* =================== Header end ======================= */
.form-hero__nav {
  background-color: #FDFDFD;
}

.site-form-label {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #151515;
}

.oval {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 5px solid #6A983C;
  border-radius: 50%;
}/*# sourceMappingURL=main.css.map */