/* VARIABLES */
$green: #6A983C;
$green-bg:#F4F8EC;
$black:#151515;
$grey-color:#A9A9A9;

:root{
  --light-background: #f2ece4;
  --light-text: #036;
  --body-title:#151515;
  --body-link:#6a983c;
  --body-text:#575757;
}
