.form-hero__nav{
  background-color: #FDFDFD;
}
.site-form-label{
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #151515;
}
.oval{
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 5px solid #6A983C;
  border-radius: 50%;
}
